<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Ahmet Firat Keler", "https://www.linkedin.com/in/ahmet-f%C4%B1rat-keler-174b77151/?locale=en_US", class: "text-white text-decoration-none" %></small>
  </div>
</footer>
